canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.App {
  position: absolute;
  /* background-color: rgba(79, 79, 79, 0.5); */
  color: white;
	top: 10px;
  left: 10px;
	width: 95%;
	text-align: left;
  padding: 5px;
	z-index: 100;
	display:block;
}